.cartTotalBlock {
  height: 250px;
  background: black;
}
.cartSubTotal {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SubTotalLabel {
  font-size: 25px;
  color: grey;
  margin-left: 20px;
}
.cartTotal {
  color: yellow;
  font-size: 25px;
  margin-right: 20px;
}
.checkOut {
  height: 60px;
  width: 260px;
  border: solid 1px gray;
  color: grey;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkOutBlock {
  display: flex;
  justify-content: center;
}
