.cartList {
  height: 500px;
  overflow: scroll;
}
.addProducts {
  color: white;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 90px;
}
.smiley {
  color: white;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 235px;
}
.noProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
